<h1>Add New Joke</h1>

<form method="post" action="/jokes">
    <input name="author" type="text" placeholder="Author" />
    <input name="setUp"type="text" placeholder="Setup" />
    <input name="punchLine"type="text" placeholder="Punchline" />
    <button>Submit</button>
</form>